* {
    box-sizing: border-box;
}

fieldset {
    background-color: #EEE;
    margin-bottom: 20px;
    border: 1px solid red;
}

legend {
    background-color: #F00;
    padding: 5px;
    color: #fff;
}