* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-size: 17px;
}

p {
    color: #0000ff;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica, sans-serif;
    text-align: justify;
    /* letter-spacing: 0px; */
    /* word-spacing: 10px; */
    /* line-height: 40px; */
    text-shadow: 2px 2px 4px #FF0000;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}